/* nav releted styles */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;


}

.web-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}



/* commpn shere styles */


body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

/*header related style*/


.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.banar {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banar img {
    width: 584px;
    height: 676px;
}

.banar-h3 {
    font-size: 45px;
    color: #474747;
    margin-top: 50px;
}

.banar-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banar-pra {
    margin-top: 20px;
    margin-bottom: 30px;
}

.banar-content {
    max-width: 500px;
}

/* about section style*/


.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}


/* about section title style */


.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* about section pra style */

.section-pra {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* main section style*/

main section {
    margin-top: 130px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-contain {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skill related style*/

#what-i-do {
    padding: 30px 150px;
}

.skills-contain {
    display: flex;
    gap: 24px;

}

.skill {

    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-pra {
    color: #757575;
}

/* resume related style*/

.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-contain {
    display: flex;
    gap: 50px;
}

.resume-colum-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resumi-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resumi-pra {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.Downlode-button {
    text-align: center;
    margin-top: 50px;
}

/* footer related style*/

footer {
    display: flex;
    background-color: #FFF8F3;
    width: 1600px;
    height: 780px;
    margin: auto;
    margin-top: 100px;
    padding: 130px 230px;
    gap: 100px;
}

.social-link a{
    margin-right: 25px;
}

.footer-colum {
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 80%;
}

